@model PharmacyApp.Domain.Entities.Medicine

@{
    ViewData["Title"] = "Зміна медикаментів";
}

<h2>Зміна медикаментів</h2>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IconUrl"></label>
        <input asp-for="IconUrl" class="form-control" />
        <span asp-validation-for="IconUrl" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Зберегти</button>
</form>
