@model PharmacyApp.Web.Models.ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model?.ShowRequestId ?? false)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
<p>
    <strong>Development Mode</strong>: Swapping to the <strong>Development</strong> environment in the <code>launchSettings.json</code> file will display more detailed information about the error that occurred.
</p>
