@model IEnumerable<PharmacyApp.Domain.Entities.Disease>

@{
    ViewData["Title"] = "Хвороби";
}

<h2>Хвороби</h2>

<table class="table">
    <thead>
        <tr>
            <th>Назва</th>
            <th>Опис</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var disease in Model)
        {
            <tr>
                <td>@disease.Name</td>
                <td>@disease.Description</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@disease.Id">Змінити</a> |
                    <a asp-action="Delete" asp-route-id="@disease.Id">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Добавити нову хворобу</a>
